

  <div class="index-cards" id="person-cards">
    <div class="user-card">
            <div class="left-card">
              <img class="card-pic" style="background-image: url(<%= @user.photo %>);" alt="">
            </div>
            <div class="right-card">
              <%= @user.first_name %> <%= @user.last_name %>
              <hr>
              <%= @user.username %>
            </div>

        <div class="card-email">
          <%= link_to @user.email %>
        </div>
    </div>
  </div>
  <br>

  <h3>Your latest creations!</h3>
  <% if @cocktails.count < 1 %>
  <p>You have no cocktails</p>
  <% end %>
  <div class="cards">

    <% @cocktails.each do |c| %>
      <%= link_to cocktail_path(c) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= c.photo %> )">
          <%= c.name %>
        </div>
      <% end %>
    <% end %>

    <% if current_user %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1232152/pexels-photo-1232152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        <%= link_to "New Cocktail +", new_cocktail_path, class: "btn btn-blue"%>
      </div>
    <% end %>
  </div>

  <h3>Your favourite cocktails!</h3>
  <div class="cards">
    <% current_user.favorites.each do |favourite| %>
    <%= link_to cocktail_path(favourite.cocktail_id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= favourite.cocktail.photo %> )">
          <%= favourite.cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>

<script>
  let email = document.querySelector('.card-email')

  email.addEventListener('click', (event) => {
    if (event.currentTarget.classList.contains('e-click')) {
      event.currentTarget.classList.remove('e-click');
    } else {
      event.currentTarget.classList.add('e-click');
      }
  });
</script>
