<div class="banner show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= @cocktail.photo %> );">
<div class="container">
<h1>Add dose for: <%= @cocktail.name %></h1>
<div class="form-section">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Dosage:', :required => false%>
  <%= f.association :ingredient, label: 'Ingredient:', :required => false %>
  <%= f.button :submit, class: "btn btn-warning" %>
<% end %>
</div>
</div>
</div>
